extends ../navbar

block content
    <!-- This is right side of the profile, consist of:-->
    <!-- The list of that user's posts which each link linked to the post to comment and edit-->
    .container
        .row               
            <!-- This is the left side of the profile, consist of:-->
            <!-- The Users info:name, username and their  biking statistic-->
            <!-- The form to editing the username and password-->
            .col-md-6           
                // Lists all the user information
                br
                h1 #{user.name} 
                hr
                p User Name: #{user.userName}
                p Steak: #{user.data.streak}
                //p Statistic
                ul.stat
                    li Total distance rode: #{user.data.totalDistance}
                    li Total energy saved: #{user.data.energySaved}
                    li Total carbon saved: #{user.data.carbonSaved}
                br
                if (user.userName != userName)
                    form(action= ("/friends/") method="POST")
                        input(type="submit" value="Send Friend Request"  style="margin-left:0").button
                        input(type="text" name="receiver", value = user.userName, style = "visibility:hidden")

                if (user.userName == userName)
                    h2 Edit Profile
                    br
                    form(action= ("/users/" + userName) method="POST" style="display:inline-block; margin:0; margin-top: -15px").createArticle
                        p New Name
                        input.form-control(type="text" name="name")
                        p New Password
                        input.form-control(type="text" name="password")
                        br
                        input.form-control(type="submit" value="Change Profile"  style="margin-left:0").button
                        input(type="text" name="userName", value = userName, style = "visibility:hidden")

                    form(action= ("/users/" + userName + "/delete") method="POST" onsubmit="return confirm('Are you sure you want to delete your account?');" style="display:inline-block; margin:0; margin-top: -15px")
                        input(type="submit" value="Delete Account" style="margin-left:0").button
                        input(type="text" name="userName", value = userName, style = "visibility:hidden")
            .col-md-6.float-right
            
                //Lists all the article posted by the user
                br
                h1 Articles Posted
                hr
                ul.arts
                    for article in articles
                        a(href = '/Forum/' + article.articleNum).articleButton
                            div.title #{article.title}
    
        



       
