extends ../navbar

block content



        if article.author == userName
            a(href= "/forum/" + article.articleNum + "/edit" style="float:right;").button Edit Article
            form(action=("/forum/" + article.articleNum + "/delete") method="POST")
                input(type="submit" value="Delete Article" style="float:right;" onsubmit="return confirm('Are you sure you want to delete your post?');").button

        
        h1 #{article.title}

                
        a(href = "/users/" + article.author style = "color: var(--background-colour);") Author: #{article.author}

        div(style = "margin-top: 30px;")

        div(style= "padding: 10px") #{article.body}
        
    
        
        form(action=("/forum/" + article.articleNum) method="POST" class="createArticle")
            h2 Comments
            //input(type="text" name="commentBody" required)
            textarea(name="body" required)
            input(type="submit" value="Post" style="font-size: 16px; display: block; margin-left: 0;").button
       
        div.table
            each comment in article.comments
                ul(style="padding: 10px;")
                    li(style="white-space: nowrap;")
                        div.comment #{comment.commentBody}
                        
                        if (comment.commentAuthor == userName)
                            a(href= '/forum/' + article.articleNum + "/" + comment.commentNumber + "/edit" style="display:inline-block; margin:0").button Edit
                            form(action=("/forum/" + article.articleNum  + "/" + comment.commentNumber + "/delete") method="POST" style="display:inline-block; margin:0")
                                input(type="submit" value="Delete" style="margin-bottom:0").button
                        if (comment.author != "anonymous")
                            a(href = "/users/" + comment.commentAuthor style="float:right; margin-top: 30px; vertical-align: text-bottom; color: var(--background-colour)") From: #{comment.commentAuthor}
            
         
        
