extends ../navbar

block content
        h1 #{article.title}
        par #{article.body}

        div 
        a(href = "/users/" + article.author) Author: #{article.author}

        div
        if article.author == userName
            a(href= "/forum/" + article.articleNum + "/edit") <button type="button">Edit Article</button></a>
            form(action=("/forum/" + article.articleNum + "/delete") method="POST")
                input(type="submit" value="Delete Article")
        
    
        
        form(action=("/forum/" + article.articleNum) method="POST" class="createArticle")
            h2 Comments
            input(type="text" name="commentBody" required)
            input(type="submit" value="Post")
       
        div.table
            each comment in article.comments
                ul
                    li
                        div.comment #{comment.commentBody}
                        a(href = "/users/" + comment.commentAuthor) From: #{comment.commentAuthor}

                        if (comment.commentAuthor == userName)
                            a(href= '/forum/' + article.articleNum + "/" + comment.commentNumber + "/edit") <button type="button">Edit Comment</button></a>
                            form(action=("/forum/" + article.articleNum  + "/" + comment.commentNumber + "/delete") method="POST")
                                input(type="submit" value="Delete Comment")
            
        par
        if article.author == userName
            a(href= "/forum/" + article.articleNum + "/edit") <button type="button">Edit Article</button></a>
         
        
