extends ../navbar

block content
    div(class="top" ) 
        h2 Bikers' stories 
    //articles table
    div.table
        div(class="leida" style="width:100%;text-align:center")
            h2 List of Articles
        //h2 List of Articles
        br
        each article in current_articles
            ul
                li
                    -//link each box to the huperlink
                    a(href = '/Forum/' + article.articleNum).articleButton
                        -//title of the article
                        div.title(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 100%;") #{article.title}
                        
                        -//count day updating
                        if (article.edit == true)
                            if (article.Hrs < 24)
                                if (article.Hrs  < 1)
                                    if (article.Mins < 1)
                                        div.author(style = "float: right") Edited: #{article.Secs} seconds ago
                                    else
                                        div.author(style = "float: right") Edited: #{article.Mins} minutes ago
                                else
                                    div.author(style = "float: right") Edited: #{article.Hrs} hours ago
                            
                            else
                                div.author(style = "float: right") Edited: #{article.time}
                    
                        if (article.edit == false)
                            if (article.Hrs < 24)
                                if (article.Hrs  < 1)
                                    if (article.Mins < 1)
                                        div.author(style = "float: right") Posted: #{article.Secs} seconds ago
                                    else
                                        div.author(style = "float: right") Posted: #{article.Mins} minutes ago
                                else
                                    div.author(style = "float: right") Posted: #{article.Hrs} hours ago
                            
                            else
                                div.author(style = "float: right") Posted: #{article.time}
                        
            
                        
                        //posted day and comments counts
                        div.author From: #{article.author}                            
                        div.author Comments: #{article.comments.length}
    hr


    //Lets the user create an article
    //form to create new article should it be a button to new article page????
    form(action="/forum" method="POST" class="createArticle")
            //h2 Create a New Article!
            div(class="leida" style="width:100%;text-align:center")
                h2 Create your own article
            br
            //div Title
            input(type="text" name = "title" require placeholder = "Title")
            br
            //div Body
            textarea(type="text" name = "body" placeholder = "Content")
            br
            input(type="submit" value="Post" style="margin:0").button
    br
    br