extends ../navbar

block content
    
        div(class="top") 
            h2 Hi Biker！Welcome to the Dashboard！
        div(class="main")
            div(class="left")
                div(class="desLeft")
                    div 
                        span Energy Saved
                        span #{(user.data.energySaved).toFixed(3)}KJ！
                    div 
                        span Carbon Saved
                        span #{(user.data.carbonSaved/1000).toFixed(3)}KG！
                    div This Weeks Streak!
                        span #{user.data.streak} Days！
                div(class="desImg") 
                div(class="desRight")   
                    div 
                       span Safety tip of the day 
                    div 
                        span Total Distance Cycled
                        span #{(user.data.totalDistance/1000).toFixed(3)}KM !

            div(class="right")
                div(class="ranksWrap")
                    div(class="ranks")
                        h3(class="rankTitle") Leaderboard
                        div(class="rankList")
                            - for (var i=0,l=leaderboard.length;i<l;i++)
                                div(class="rankItem")
                                    div(class="rankNumber") #{i + 1}.
                                    div(class="rankDes")
                                        span #{leaderboard[i].name}
                                        span #{(leaderboard[i].data.totalDistance/1000).toFixed(3)}KM Cycled
                                        span #{(leaderboard[i].data.carbonSaved/1000).toFixed(3)}KG Carbon Saved
                        
        