extends ../navbar

block content
    div this is the dashboard
    div(class="main")
        div(class="left")
            div(class="desLeft")
                div 
                    span Energy Saved
                    span #{(user.data.energySaved).toFixed(3)}Kj！
                div 
                    span Carbon Saved
                    span #{(user.data.carbonSaved/1000).toFixed(3)}kg！
                div 
                    span This Weeks Streak
                    span #{user.data.streak} Days！
            div(class="desImg") 
            div(class="desRight")   
                div Safety tip of the day
                div 
                    span Weather / road
                    span conditions warning
        div(class="right")
            div(class="ranksWrap")
                div(class="ranks")
                    h3(class="rankTitle") Leaderboard
                    div(class="rankList")
                        - for (var i=0,l=leaderboard.length;i<l;i++)
                            div(class="rankItem")
                                div(class="rankNumber") #{i + 1}.
                                div(class="rankDes")
                                    span #{leaderboard[i].name}
                                    span #{(leaderboard[i].data.totalDistance/1000).toFixed(3)}KM cyceled,#{(leaderboard[i].data.carbonSaved/1000).toFixed(3)}KG 
                                    span Carbin Saved
                        
        