extends ../navbar
block styles
	link(rel='stylesheet', href='/css/map_total.css')
//-
	div counting is for div contain the conclusion report for users after they finish route
	if its first time: a first time message will show up
	div progress will actually show the percentage in a progress bar way
	move/frame is function used for dynamic loading the progress bar
block content
	
	div(id="counting")
		h1 Congratulations!
		p Distance: #{(route["distance"] * 0.001).toFixed(3)} km
		p Duration: #{(route["duration"]*1/60).toFixed(3)} mins
		p CO2 saved: #{(route["distance"] * 0.016).toFixed(3)} g
		p Calories saved: #{(route["distance"] * 1.1).toFixed(3)} kJ
		if(route["status"].length == 1)
			p Its your first time on this route and BIG success.
		label(for = "piu") Finish Rate #{(route["status"].filter(x => x=="COMPLETED").length/route["totalTrial"]).toFixed(3)}
		progress(id = "piu" value = route["status"].filter(x => x=="COMPLETED").length max = route["totalTrial"] style = "display:none")
		p You successed #{route["status"].filter(x => x=="COMPLETED").length} out of #{route["totalTrial"]}
		form(action="/Map" method="get" id = "another_ride")
			input(type="submit" value="AnotherRide")
		div(id="progress")
			div(id="bar")

		
	script.
		var i = 0;
		function move() {
			if (i == 0) {

				i = 1;
				var elem = document.getElementById("bar");
				var width = 1;
				var id = setInterval(frame, 10);
		function frame() {
			if (width >= (document.getElementById("piu").value/document.getElementById("piu").max)*100) {
				clearInterval(id);
				i = 0;
			} else {
				width++;
				elem.style.width = width + "%";
			}
			}
		}

		}
		move();
