extends ../navbar

block content
	div(id="mapcontainer")
		div(id="map")
	div(id="floating-panel")
		div(id="magic")
			form(action="/Map/start" method="post")
				if(origin && origin!="---")
					input(type="text" id="_origin" name="_origin" required value = origin placeholder="Origin")
				else
					input(type="text" id="_origin" name="_origin" required placeholder="Origin")
				if(destination && destination!="---")
					input(type="text" id="_end" name="_end" required value = destination placeholder="Destination")
				else
					input(type="text" id="_end" name="_end" required placeholder="Destination")
				input(type="submit" value="Start Route")
				input(type="submit" value="SaveRoute" formaction = "/Map/saveRoute")
				input(type="submit" value="deleteRoute" id= "deleteSaved" formaction = "/Map/deleteRoute" style="display:none")
			input(type="submit" id="sub" value = "Search Route")

	div(id="routeinfo")
		div(id="routeinfohide") abc
		div(id="route info") abc_placeholder
		div(id="route info2") abc_placeholder
		div(id="route info3") abc_placeholder
	div(id="savedRoute")
		if(route)
			ol(style=" list-style-type: none;")
				each r in route
					li(class= r["origin"] + r["destination"])
						p(class= r["origin"] + r["destination"]+"1") From #{r["origin"]}
						p(class= r["origin"] + r["destination"]+"2") To #{r["destination"]}
						p(class= r["origin"] + r["destination"]+"3") With #{(r["distance"] * 0.001).toFixed(3)} kms
						p(class= r["origin"] + r["destination"]+"4") About #{(r["duration"] * (1/60)).toFixed(3)} mins
						button(class=r["origin"] + r["destination"] onclick="loadDATA(this)") O 
						button(class=r["origin"] + r["destination"] onclick="deleteRoute(this)") X 
	script.
		function initMap() {
			var directionsService = new google.maps.DirectionsService();
			var directionsRenderer = new google.maps.DirectionsRenderer();
			var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 13,
			center: {lat: -37.8105, lng: 144.9624}
		});
			directionsRenderer.setMap(map);
			var onChangeHandler = function() {
				calculateAndDisplayRoute(directionsService, directionsRenderer);
			};
			document.getElementById('sub').addEventListener('click', function() {
				calculateAndDisplayRoute(directionsService, directionsRenderer);
			});
			if(document.getElementById('_origin').value && document.getElementById('_origin').value !='---' &&document.getElementById('_end').value && document.getElementById('_end').value !='---'){
				
				//calculateAndDisplayRoute(directionsService, directionsRenderer);
			}
		}
		function calculateAndDisplayRoute(directionsService, directionsRenderer) {
		directionsService.route({
			origin: {query: document.getElementById('_origin').value},
			destination: {query: document.getElementById('_end').value},
			travelMode: 'BICYCLING'
		},
			function(response, status) {
				if (status === 'OK') {
					document.getElementById("route info").innerHTML = JSON.stringify(response["routes"][0]["legs"][0]["distance"])
					document.getElementById("route info2").innerHTML = JSON.stringify(response["routes"][0]["legs"][0]["duration"])
					var str = JSON.stringify(response["routes"][0]["legs"][0])
					directionsRenderer.setDirections(response);
					document.getElementById("route info3").innerHTML = str.split("turn").length-1;

				} else {
					window.alert('Directions request failed due to ' + status);
				}
			});
		}
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3bEc0lmQ6WNX_Cl98IRfu1E5DRLiG2pE&callback=initMap").
	script.
		function loadDATA(ele){
			document.getElementById("_origin").value = document.getElementsByClassName(ele.className+"1")[0].innerHTML.slice(5);
			document.getElementById("_end").value = document.getElementsByClassName(ele.className+"2")[0].innerHTML.slice(3);
			window.location.href = "#mapcontainer";
		}

		function deleteRoute(ele){
			document.getElementById("_origin").value = document.getElementsByClassName(ele.className+"1")[0].innerHTML;
			document.getElementById("_end").value = document.getElementsByClassName(ele.className+"2")[0].innerHTML;
			document.getElementById("deleteSaved").click();
		}